server:
  port: 8081
spring:
  application:
    name: Registry-Service
  datasource:
    url: jdbc:mysql://mysql:3306/sentinel?useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    hikari:
      initialization-fail-timeout: 60000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  sql:
    init:
      mode: never
  main:
    lazy-initialization: false
management:
  endpoints:
    web:
      exposure:
        include: health,info